.gradio-button {
  border-radius: var(--border-radius) !important;
  min-width: 36px;
  min-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#txt2img_interrupt,
#txt2img_skip,
#img2img_interrupt,
#img2img_skip {
  background: var(--color-error) !important;
  color: #fff !important;

  &:hover {
    background: var(--color-error-hover) !important;
    color: #fff !important;
  }

  &:active {
    background: var(--color-error-active) !important;
    color: #fff !important;
  }
}

#txt2img_interrupt,
#img2img_interrupt {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
  border-right: 1px solid var(--color-error-bg);
}

#txt2img_skip,
#img2img_skip {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
}

.gradio-button.secondary-down,
.gradio-button.secondary-down:hover {
  box-shadow: var(--box-shadow-secondary) !important;
}
