.tabitem,
.gradio-tabitem {
  background: var(--color-fill-quaternary);
}

.selected.svelte-1g805jl {
  background: var(--color-fill-quaternary);
}

[id$='2img_tools'] > div {
  display: flex;
  justify-content: center;
}
