.extra-network-thumbs {
  .actions {
    .name {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
      font-weight: 500;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    }
    .additional > ul {
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        transparent
      ) !important;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
  }

  .card {
    border-radius: var(--borderRadiusXS);
    background-size: cover;
    box-shadow: var(--boxShadow);
    outline: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.5);
      z-index: 500;
      box-shadow: 0 6px 24px -4px rgba(0, 0, 0, 0.8);
    }
  }

  .metadata-button {
    font-size: 10px !important;
    right: 4px;
    top: 24px;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}
