#quicksettings {
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .dropdown-arrow {
    min-width: 16px;
    min-height: 16px;
  }

  > div,
  > fieldset {
    min-width: 240px !important;
  }

  button.svelte-1ipelgc {
    margin-bottom: 3px;
  }
}

#tabs {
  > .tabitem {
    background: transparent;
    border: none;
    padding: var(--size-lg);
  }
}

#header {
  button {
    border: none;
    border-bottom: 3px solid transparent !important;
    flex: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: none;
      border-bottom: 3px solid var(--color-primary) !important;
      flex: none;
    }

    &.selected {
      background: transparent;
      border: none;
      border-bottom: 3px solid var(--color-primary) !important;
    }
  }
}
