[id$="2img_prompt"] textarea {
  color: var(--green-9) !important;
  max-height: 84px;
  overflow-y: auto;
  padding: 12px;

  &:focus {
    color: var(--green-10) !important;
  }
}

[id$="2img_neg_prompt"] textarea {
  color: var(--magenta-9) !important;
  max-height: 84px;
  overflow-y: auto;
  padding: 12px;

  &:focus {
    color: var(--magenta-10) !important;
  }
}

.block.token-counter span {
  backdrop-filter: blur(24px);
  display: inline-block;
}
